body {
    margin: 0;
    background-image: url("assets/background.jpg");
    transition-duration: 2s;
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding: 5vh;
    height: 90vh;
}

#enemy-one{
    position: absolute;
    transition-duration: 0.08s;
    width: 51px;
    height: 128px;
}

#player{
    position: absolute;
    transition-duration: 0.08s;
    width: 51px;
    height: 128px;
}

#jogo{
    border: 40px ridge black;
}