body {
    margin: 0;
    background-image: url("assets/background/background.jpg");
    display: flex;
    justify-content: center;
    padding: 5vh;
    height: 90vh;
}

#jogo{
    outline: 40px ridge black;
    width: 1000px;
    height: 900px;
}

#start{
    width: 100px;
    height: 50px;
    top: 0;
    left: 0;
    position: absolute;
}

#div{
    background-color: white;
    width: 500px;
    height: 500px;
}